html {
  font-size: 16px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  width: fit-content;
}

.EmailCapturePage {
  height: 81;
  width: 85;
  background-color: #242126;
  border-radius: 5rem;
  padding: 12.5rem;
  font-family: Karla;
  font-style: normal;
  color: #ffff;
}

.EmailCapturePageContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  row-gap: 5;
}

/* .EmailCapturePageMainContainer {
  height: 4rem;
  width: 20rem;
} */

.MainPage {
  width: 21.25rem;
  height: auto;
  align-items: center;
  justify-items: center;
  font-family: Karla;
  font-style: normal;
  color: #ffff;
}

.MainPageWrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

.MainPageMainContainer {
  background-color: #242126;
  border-radius: 1.25rem;
  padding: 3.125rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1.25rem;
}

.ConfirmationPage {
  height: 21.25rem;
  width: 20rem;
  background-color: #242126;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 1.25rem;
  font-family: Karla;
  font-style: normal;
  color: #ffff;
}

.ConfirmationPageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 3.125rem;
}

.ConfirmationPageMainContainer {
  height: fit-content;
  width: 100%;
  top: 0;
  left: 0;
}
.CloseButton {
  background-color: transparent;
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 9999999;
  display: flex;
  justify-content: center;
}

.Mainh1 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.875rem;
}

.Mainh2 {
  font-size: 1rem;
  font-weight: 400;
}

.MainSubtitle {
  align-self: flex-start;
  opacity: 70%;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.625rem;
}

#EmailCapturePageH2 {
  margin-bottom: 0.3125rem;
}

.Mainp {
  align-self: stretch;
  color: #fff;
  font-family: Karla;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
}

.UrlFieldForm {
  width: 100%;
  border-radius: 0.125rem;
  display: flex;
}

.UrlTextBox {
  height: 1.5rem;
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  color: white;
  border-radius: 0.125rem;
  border: none;
  padding: 0.3125rem;
}

.EmailCaptureFieldForm {
  height: 1.5rem;
  width: 100%;
  border-radius: 0.125rem;
  display: flex;
}

.EmailCaptureTextBox {
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  color: white;
  border-radius: 0.125rem;
  border: none;
  padding: 0.3125rem;
}

.DateAndTimeSelector {
  display: flex;
  flex-direction: column;
}

#DateAndTimeSelectorSubtitle {
  margin-bottom: 0.625rem;
}

.DateSelector {
  display: flex;
  flex-direction: row;
  justify-content: start;
  row-gap: 0.3125rem;
  column-gap: 0.469rem;
  flex-wrap: wrap;
  padding: 0.3125rem;
  align-items: center;
  align-content: center;
  margin-bottom: 1.25rem;
}

.TimeSelector {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 0.3125rem;
}

.TimeSelector div {
  color: #fff;
  font-family: Karla;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  opacity: 0.8;
}

.SelectableOptionButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3125rem 0.75rem;
  font-family: Karla;
  color: #fff;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 0.875rem;
  border-radius: 0.125rem;
  background: rgba(255, 255, 255, 0.15);
  border: none;
  cursor: pointer;
}

.NotiDateActive {
  background: #8623d4;
  color: #fff;
}

.NotiTimeActive {
  background: #8623d4;
  color: #fff;
}

.NotiTypeActive {
  background: #8623d4;
  color: #fff;
}

.SelectableOptionButton.active:hover {
  opacity: 1;
  outline: 0.0625rem solid white;
}

.SelectableOptionButton:hover {
  opacity: 0.5;
  outline: 0.0625rem solid white;
}

.CalendarButton {
  width: 1.5rem;
  height: 1.5rem;
  background-color: rgba(255, 255, 255, 0.15);
  padding: 0.25rem;
  border-radius: 0.125rem;
}

.CalendarButton img {
  width: 100%;
  height: 100%;
}

.ClockButton {
  width: 1.5rem;
  height: 1.5rem;
  background-color: rgba(255, 255, 255, 0.15);
  padding: 0.25rem;
  border-radius: 0.125rem;
}

.ClockButton img {
  width: 100%;
  height: 100%;
}

.DescriptionContainer div {
  color: #fff;
  font-family: Karla;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
}

.DescriptionField {
  width: 100%;
}

.DescriptionTextBox {
  display: inline-block;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 3.75rem;
  background: rgba(255, 255, 255, 0.1);
  color: white;
  border-radius: 0.125rem;
  border: none;
  padding: 0.3125rem;
  position: relative;
  overflow-x: hidden;
  resize: none;
  overflow-y: hidden;
  font-weight: 400;
  opacity: 1;
}

.DescriptionTextBox::placeholder {
  width: 100%;
  align-self: flex-start;
  font-weight: 400;
  opacity: 0.6;
}

.NotiTypeSelectorContainer {
  display: flex;
  flex-direction: column;
}

.Checkbox {
  border-radius: 0.125rem;
}

.NotiTypeSelector {
  display: flex;
  column-gap: 0.3125rem;
}

.NotiTypeSelectorText {
  color: #fff;
  font-family: Karla;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.7;
  margin-bottom: 0.625rem;
}

.SaveButtonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.SaveButton {
  width: 100%;
  height: 1.75rem;
  border-radius: 0.875rem;
  background: #6f6a72;
  display: flex;
  padding: 0.3125rem 0.875rem;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  color: #fff;
  font-family: Karla;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
  cursor: pointer;
  margin-top: 1.25rem;
}

.SaveButton:hover {
  opacity: 0.5;
}

.NextButtonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 4.66667rem;
}

.NextButton {
  width: 15rem;
  height: 0.875rem;
  border-radius: 0.4375rem;
  background: #6f6a72;
  display: flex;
  padding: 0.625rem 2.5rem;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  align-self: stretch;
  color: #fff;
  font-family: Karla;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
}

.NextButton div {
  color: #fff;
  font-family: Karla;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.UpgradeButtonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 3.5rem;
  margin-bottom: 0;
  padding-bottom: 0;
}

.UpgradeButton {
  width: 15rem;
  height: 0.875rem;
  border-radius: 0.4375rem;
  background: #f43e80;
  display: flex;
  padding: 0.625rem 2.5rem;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  align-self: stretch;
  color: #fff;
  font-family: Karla;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
}

.UpgradeButton div {
  color: #fff;
  font-family: Karla;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
