html {
  font-size: 12px;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  width: fit-content;
}

.EmailCapturePage{
  height: 27.0833rem;
  width: 28.3333rem;
  background-color: #242126;
  border-radius: 1.66667rem;
  padding: 4.16667rem;
  font-family: Karla;
  font-style: normal;
  color: #FFFF;
}

.EmailCapturePageContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  row-gap: 1.66667rem;
}

.EmailCapturePageMainContainer {
  height: 13.0833rem;
  width: 20rem;
}

.MainPage{
  width: 28.3333rem;
  height: auto;
  align-items: center;
  justify-items: center;
  font-family: Karla;
  font-style: normal;
  color: #FFFF;
}

.MainPageWrapper{
  height: 100%;
  width: 100%;
}

.MainPageMainContainer {
  background-color: #242126;
  height: 100%;
  width: 100%;
  border-radius: 1.66667rem;
  padding: 4.16667rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1.66667rem;
}

.ConfirmationPage{
  height: 26.4167rem;
  width: 28.3333rem;
  background-color: #242126;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 1.66667rem;
  font-family: Karla;
  font-style: normal;
  color: #FFFF;
}

.ConfirmationPageContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 4.16667rem;
}

.ConfirmationPageMainContainer{
  height: fit-content;
  width: 100%;
}

.CloseButton {
  position: relative;
  top: -2.41667rem;
  right: -12.25rem;
  width: 1.66667rem; 
  height: 1.66667rem;
}

.CloseButton::before,
.CloseButton::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 0.16667rem; 
  background-color: #fff;
  top: 50%;
  transform: translateY(-50%);
}

.CloseButton::before {
  transform: rotate(45deg);
}

.CloseButton::after {
  transform: rotate(-45deg);
}

.CloseButton2{
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -1.66667rem;
  right: -21.5rem;
}

.Mainh1{
  font-size: 2.08333rem;
  font-weight: 400;
  line-height: normal;
}

.Mainh2{
  font-size: 1.25rem;
  font-weight: 400;
}

.MainSubtitle{
  align-self: flex-start;
  opacity: 70%;
  color: #FFF;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.83333rem;
}

#EmailCapturePageH2{
  margin-bottom: 0.41667rem;
}

.Mainp {
  align-self: stretch;
  color: #FFF;
  font-family: Karla;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.66667rem;
}

.UrlFieldForm{
  border-radius: 0.16667rem;
  width: 20rem;
  height: 2rem;
  display:flex;
}

.UrlTextBox{
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.10);
  color: white;
  border-radius: 0.16667rem;
  border: none;
  padding: 0.41667rem;
}

.EmailCaptureField{
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.EmailCaptureFieldForm{
  border-radius: 0.16667rem;
  width: 20rem;
  height: 2rem;
  display:flex;
}

.EmailCaptureTextBox{
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.10);
  color: white;
  border-radius: 0.16667rem;
  border: none;
  padding: 0.83333rem;
}

.DateAndTimeSelector {
  display: flex;
  flex-direction: column;
}

#DateAndTimeSelectorSubtitle{
  margin-bottom: 0.83333rem;
}

.DateSelector{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 0.41667rem;
  align-items: center;
  align-content: center;
  margin-bottom: 1.66667rem;
}

.TimeSelector{
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 0.41667rem;
}

.TimeSelector div{
  color: #FFF;
  font-family: Karla;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  opacity: 0.8;
}

.SelectableOptionButton {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.41667rem 0.98167rem;
  font-family: Karla;
  color: #FFF;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.16667rem;
  border-radius: 0.16667rem;
  background: rgba(255, 255, 255, 0.15);
  border: none;
  cursor: pointer;
}

.NotiDateActive {
  background: #8623D4;
  color: #FFF;
}

.NotiTimeActive {
  background: #8623D4;
  color: #FFF;
}

.NotiTypeActive {
  background: #8623D4;
  color: #FFF;
}

.SelectableOptionButton.active:hover {
  opacity: 1;
  outline: 1px solid white;
}

.SelectableOptionButton:hover {
  opacity: 0.5;
  outline: 1px solid white;
}

.CalendarButton{
  width: 2rem;
  height: 2rem;
  background-color: rgba(255, 255, 255, 0.15);
  padding: 0.33333rem;
  border-radius: 0.16667rem;
}

.CalendarButton img {
  width: 100%;
  height: 100%;
}

.ClockButton{
  width: 2rem;
  height: 2rem;
  background-color: rgba(255, 255, 255, 0.15);
  padding: 0.33333rem;
  border-radius: 0.16667rem;
}

.ClockButton img {
  width: 100%;
  height: 100%;
}

.DescriptionContainer div{
  color: #FFF;
  font-family: Karla;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
}



.DescriptionField {
  width: 100%;
}


.DescriptionTextBox {
  display: inline-block;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 20rem;
  height: 5rem;
  background: rgba(255, 255, 255, 0.10);
  color: white;
  border-radius: 0.16667rem;
  border: none;
  padding: 0.41667rem;
  position: relative;
  overflow-x: hidden;
  resize: none;
  overflow-y: hidden;
  font-weight: 400;
  opacity: 1.0;

}

.DescriptionTextBox::placeholder {
  width: 100%;
  align-self: flex-start;
  font-weight: 400;
  opacity: 0.6;
}


.NotiTypeSelectorContainer {
  display: flex;
  flex-direction: column;
}

.Checkbox {
  border-radius: 0.16667rem;
}

.NotiTypeSelector{
  display: flex;
  column-gap: 0.41667rem;
}

.NotiTypeSelectorText {
  color: #FFF;
  font-family: Karla;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.7;
  margin-bottom: 0.8333333rem;
}

.SaveButtonContainer{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.SaveButton{
  width: 100%;
  height: 2.33333333rem;
  border-radius: 1.1666666667rem;
  background: #6F6A72;
  display: flex;
  padding: 0.41667rem 1.66667rem;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  color: #FFF;
  font-family: Karla;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none; 
  cursor: pointer; 
  margin-top: 1.66667rem;
}

.SaveButton:hover {
  opacity: 0.5;
}

.NextButtonContainer{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 4.66667rem;
}

.NextButton{
  width: 20rem;
  height: 1.16667rem;
  border-radius: 0.58333rem;
  background: #6F6A72;
  display: flex;
  padding: 0.83333rem 3.33333rem;
  justify-content: center;
  align-items: center;
  gap: 1.66667rem;
  align-self: stretch;
  color: #FFF;
  font-family: Karla;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
}

.NextButton div{
  color: #FFF;
  font-family: Karla;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.UpgradeButtonContainer{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 4.66667rem;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.UpgradeButton{
  width: 20rem;
  height: 1.16667rem;
  border-radius: 0.58333rem;
  background: #F43E80;
  display: flex;
  padding: 0.83333rem 3.33333rem;
  justify-content: center;
  align-items: center;
  gap: 1.66667rem;
  align-self: stretch;
  color: #FFF;
  font-family: Karla;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
}

.UpgradeButton div{
  color: #FFF;
  font-family: Karla;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}


